<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	<add key="JWT_SECRET_KEY" value="EvieG+DQ1jopcJ5DTLPGsMa0ajxAf4F1DKZQNiOIArw=" />
	<add key="JWT_AUDIENCE_TOKEN" value="any" />
    <add key="JWT_ISSUER_TOKEN" value="any" />
 	<add key="JWT_EXPIRE_MINUTES" value="30" />
  </appSettings>
	<log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<root>
			<level value="ALL" />
			<level value="ERROR" />
			<level value="INFO" />
			<level value="WARNING" />
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
			<!--<appender-ref ref="RemoteSyslogAppender" />-->
		</root>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\LOGS\ServicioWCFRest"></file>
			<appendTofile value="true" />
			<staticlogfilename value="false" />
			<rollingstyle value="Composite" />
			<datepattern value="yyyyMMdd.lo\g" />
			<maxsizerollbackups value="5" />
			<maximumfilesize value="100MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionpattern value="%newline#############################################################%newline %date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
	</log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
	  <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.serviceModel>
	  <bindings>
		  <webHttpBinding>
			  <binding name="NewBinding0" crossDomainScriptAccessEnabled="true" maxReceivedMessageSize="104857600" transferMode="Streamed" />
		  </webHttpBinding>
	  </bindings> 
    <services>
      <service name="ServicioWCFRest.ServicioEmpleado" behaviorConfiguration="ServicioWCFRest_Behavior">
        <endpoint address="" behaviorConfiguration="RESTEndpointBehavior" binding="webHttpBinding" bindingConfiguration="NewBinding0" name="webHttpBinding" contract="ServicioWCFRest.IServicioEmpleado" />
		  <host>
			  <baseAddresses>
				  <!--<add baseAddress="http://localhost:17476/LOS_CONTROLOPE_SERVICE.svc" />-->
				  <add baseAddress="http://localhost:60938/ServicioEmpleado.svc" />
			  </baseAddresses>
		  </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
		  <behavior name="RESTEndpointBehavior">
			  <webHttp helpEnabled="true" />
		  </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServicioWCFRest_Behavior">
          <!-- ojo con la linea anterior Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 
   <system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="*" />
				<add name="Access-Control-Request-Method" value="POST, GET, OPTIONS, DELETE, PUT" />
				<add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS, DELETE, PUT" />
				<add name="Access-Control-Max-Age" value="1728000" />
			</customHeaders>
		</httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="NeptunoEntities" connectionString="metadata=res://*/Model.Modelo.csdl|res://*/Model.Modelo.ssdl|res://*/Model.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Neptuno;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>